# Langchain and OpenAI client
langchain>=0.0.346
langchain-core>0.1.0
langchain-openai
# OpenTelemetry dependencies
opentelemetry-api~=1.30
opentelemetry-sdk>=1.30
opentelemetry-instrumentation~=0.51b0
opentelemetry-semantic-conventions~=0.51b0
opentelemetry-semantic-conventions-ai~=0.4.9
langchain-community~=0.3.24
opentelemetry-exporter-otlp-proto-grpc~=1.33.1
# Install local langchain instrumentation plugin
-e ../.. 